/* General Styles */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f6f9;
    display: flex;
    overflow-x: hidden;
}

/* Sidebar */
.sidebar {
    width: 250px;
    /* background-color: #fff; */
    padding: 15px;
    box-shadow: 2px 0 8px rgba(208, 208, 208, 0.1);
    height: 100vh;
    position: fixed;
    top: 0; /* Ensure it starts from the top */
    left: 0; /* Fixed position to the left */
    transform: translateX(0); /* Initial position */
    transition: transform 0.3s ease; 
    overflow-y: auto;
}
.sidebar-header {
    font-size: 24px;
    font-weight: bold;
    color: #3498db;
}
.sidebar-menu {
    list-style: none;
    padding: 0;
}
.sidebar-menu li {
    display: flex;
    align-items: center; /* Vertically align icon and text */
    margin-bottom: 5px;
}
.sidebar-menu li a {
    text-decoration: none;
    /* color: #333; */
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 10px; /* Add padding to menu items */
    border-radius: 8px; /* Rounded corners */
    /* transition: background-color 0.3s ease; Smooth transition */
}
.sidebar-menu li a:hover {
    /* background-color: #f0f0f0; Change background on hover */
    padding-left: 10px;
    border-radius: 5px;
}
.sidebar-menu li a.active {
    background-color: #3498db; /* Active background color */
    color: #fff; /*Active text color*/
    width: 100%;
}
.sidebar-menu li a .menu-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px; /* Space between icon and text */
    vertical-align: middle;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
    /* filter: brightness(0) invert(1); */
}
.sidebar.hidden {
    transform: translateX(-100%); /* Move the sidebar out of view */
    transition: transform 0.3s ease; /* Smooth transition */
}

/* menu toggle */
.menu-section {
    margin-top: 10px;
    font-size: 14px;
    color: #999;
}
.menu-button {
    cursor: pointer; /* Change cursor to pointer on hover */
    margin-right: 30px; /* Space between menu button and other elements */
    width: 24px; /* Icon size */
    height: 24px; /* Icon size */
    margin-left: 20px;
}

.menu-button svg {
    fill: #3498db; /* Change icon color */
    width: 100%; /* Scale to fit the container */
    height: 100%; /* Scale to fit the container */
}

/* Main Content */
.main-content {
    margin-left: 250px;
    padding-top: 20px;
    width: calc(100% - 250px);
    /* background-color: #ff0000; */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    transition: margin-left 0.3s ease, width 0.3s ease;
}
.main-content.hidden {
    margin-left: 0; /* Remove left margin when sidebar is hidden */
    width: 100%; /* Full width when sidebar is hidden */
}
.main-body {
    /* margin-left: 250px; */
    padding: 20px;
    width: 100%;
    background-color: rgb(38, 43, 48);
    box-sizing: border-box;
    border-radius: 10px;
}



/* Header Styles */
.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    /* background-color: white; */
    box-shadow: 2px 0 8px rgba(208, 208, 208, 0.1);
    margin-bottom: 20px;
    border-radius: 10px;
}

/* Search bar styling */
.search-bar input {
    padding: 8px;
    width: 500px;
    border-radius: 20px;
    border: 1px solid #ddd;
    /* background-color: #e6e5e5; */
    transition: margin-left 0.3s ease, width 0.3s ease;
}

/* Header options */
.header-options {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-right: 60px;
}

.header-options .notification-icon,
.header-options .flag-icon {
    margin-right: 20px;
    font-size: 1.2rem;
}

/* User avatar */
.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 2px 0 8px rgba(208, 208, 208, 0.1);
    min-width: 160px;
    border-radius: 5px;
    z-index: 1;
    padding: 10px 0;
    text-align: left;
}

.dropdown-menu a {
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    display: block;
    transition: background-color 0.2s ease;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}

/* Show dropdown when clicked */
.dropdown.show .dropdown-menu {
    display: block;
}



/* Inbox Section */
.inbox-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.inbox-container {
    display: flex;
    height: calc(100% - 50px);
    background-color: #212529;
}

/* Inbox Sidebar */
.inbox-sidebar {
    width: 250px;
    /* background-color: #fff; */
    padding: 20px;
    box-shadow: 2px 0 8px rgba(208, 208, 208, 0.1);
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
.compose-button {
    background-color: #4285f4;
    /* color: white; */
    border: none;
    padding: 15px;
    width: 100%;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}
.compose-button:hover {
    background-color: #0056b3;
}
.email-section {
    margin-bottom: 20px;
}


.inbox-sidebar .sidebar-menu {
    list-style: none;
    padding: 0;
}
.inbox-sidebar .menu-item {
    display: flex;
    justify-content: space-between;
    /* padding: 12px 0; */
    text-decoration: none;
    color: #caced1;
}

.label-section {
    margin-top: 20px;
}
.label-section h4 {
    margin-bottom: 10px;
}
.label-list {
    list-style: none;
    padding: 0;
    color: #caced1;
}
.label-list li {
    padding: 5px 0;
}

/* Inbox Content */
.inbox-content {
    flex-grow: 1;
    /* background-color: white; */
    padding: 20px;
    box-shadow: 2px 0 8px rgba(208, 208, 208, 0.1);
    margin-left: 20px;
}
.inbox-header input.search-input {
    width: 30%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    margin-bottom: 20px;
}

/* Email List */
.email-list {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #f1f1f1;
    overflow-y: scroll;
    max-height: 650px;
    
}
.email-item {
    display: grid;
    grid-template-columns: 40px 40px 1fr 1fr 120px;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid #f1f1f1;
}
.email-item:hover {
    background-color: #9a9da0;
}
.email-item input[type="checkbox"] {
    margin-right: 10px;
}
.email-item .star {
    color: gold;
    font-size: 1.2rem;
    cursor: pointer;
}
.email-item .sender {
    font-weight: bold;
    color: #007bff;
}
.email-item .subject {
    color: #6c757d;
}
.email-item .time {
    color: #6c757d;
    text-align: right;
}
.filter-white{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}